/* main page */

body{
    background-color: #9caf88;
}
.name{
    bottom: 10px;
    position: absolute;
    border-style: solid;
    padding: 5px;
    color: black;
    border-color: white;
    width: 400px;
    text-align: left;
    font-size: 42px;
    background-color: teal;
}
.about{
    color: white;
    font-size: 24pt;
    text-align: left;
}
.skills{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    padding: 10px;
    border-spacing: 10px;
    background-color: teal;
    padding: 20px;
    border-color: white;
    border-style: solid;
}
.projects{
    position: absolute;
    top: 580px;
    right: 10px;
    color: white;
    padding: 10px;
    border-spacing: 10px;
    background-color: teal;
    padding: 5px;
    border-color: white;
    border-style: solid;
}
.me{
    position: absolute;
    top: 15px;
    left: 40px;
    width: 290px;
    z-index: 1;
    border-style: solid;
    border-color: white;
}
.personalaboutme{
    position: absolute;
    top: 15px;
    left: 380px;
    color: white;
    border-color: white;
    background-color: teal;
    padding: 5px;
    border-style: solid;
    width: 800px;
    font-size: 18pt;
}
.contactme{
    position: absolute;
    top: 480px;
    left: 470px;
    border-color: white;
    background-color: teal;
    border-style: solid;
    width: 380px;
    text-align: center;
}
.contactmecontents{
    font-size: 18pt;
    color: white;
}
/* main page PC */
/* main page mobile */

@media only screen and (max-width:980px){
    body{
        background-color: #9caf88;
    }
    .name{
        top: 10px;
        position: absolute;
        border-style: solid;
        padding: 5px;
        color: black;
        border-color: white;
        width: 390px;
        text-align: left;
        font-size: 42px;
        background-color: teal;
        height: 350px;
        right: 100px;
    }
    .about{
        color: white;
        font-size: 24pt;
        text-align: left;
    }
    .skills{
        position: absolute;
        top: 450px;
        right: 60px;
        color: white;
        border-spacing: 10px;
        background-color: teal;
        padding: 25px;
        border-color: white;
        border-style: solid;
        font-size: 18pt;
    }
    .projects{
        position: absolute;
        top: 1150px;
        right: 61px;
        color: white;
        border-spacing: 10px;
        background-color: teal;
        border-color: white;
        border-style: solid;
        font-size: 18pt;
    }
    .me{
        position: absolute;
        top: 30px;
        left: 30px;
        width: 360px;
        z-index: 1;
    }
    .personalaboutme{
        position: absolute;
        top: 450px;
        left: 25px;
        color: white;
        border-color: white;
        background-color: teal;
        padding: 5px;
        border-style: solid;
        width: 430px;
        font-size: 18pt;
    }
    .contactme{
        position: absolute;
        top: 1850px;
        left: 25px;
        border-color: white;
        background-color: teal;
        border-style: solid;
        width: 350px;
        text-align: center;
    }
    .contactmecontents{
        font-size: 18pt;
        color: white;
    }
}

/* main page mobile */